/* style.css */
body {
  font-family: Arial, sans-serif;
}

.hero {
  height: 100vh;
  background: url('../images/hero.jpg') no-repeat center/cover;
}

.card:hover {
  transform: scale(1.03);
  transition: 0.3s;
}

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

footer {
  margin-top: auto;
}

.intro {
  color: chocolate;
}

.navbar {
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}

.navbar-brand img {
  width: 45px !important;
  height: 45px !important;
  object-fit: cover;
  border-radius: 50%;
}
